GEMINI_API_KEY=your_api_key
DISCORD_BOT_TOKEN=your_api_key
CLOUDFLARE_API_TOKEN=your_api_token
CLOUDFLARE_ACCOUNT_ID=your_account_id
GACHA_IMAGE_CHANNEL_ID=your_id
# Set to True to use FLUX.2 [pro] Preview (HD 1024x1024, white bg, returns URL)
# Set to False (default) to use legacy flux-1-schnell (fast, returns base64)
CLOUDFLARE_USE_FLUX2_PRO=False